

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
}


app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.navbar {
  background: #1f2937;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar nav a:hover {
  color: #60a5fa;
}



.container {
  flex: 1; /* Esto empuja el footer hacia abajo */
  padding: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0 10px;
}



button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}



.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 15px 20px;
}